extends ../layouts/default.jade
block content
  link(rel='stylesheet', type='text/css', href='css/services.css', media='all')
  .main_bg
    .wrap
      .main
        // start service
        .service
          .ser-main
            h4 Our Services
            .ser-grid
              .ser-grid-list
                a( )
                  img(src='images/icon1.png', alt='')
                h5
                  a( ) 24/7 customer support
                p.para
                  | It is a long established fact that a reader will be distracted by the page when looking at its layout.
              .ser-grid-list
                a( )
                  img(src='images/icon2.png', alt='')
                h5
                  a( ) hygienic branded
                p.para
                  | The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.
              .ser-grid-list
                a( )
                  img(src='images/icon3.png', alt='')
                h5
                  a(href='d') safely dispatch
                p.para
                  | It is a long established fact that a reader will be distracted by the page when looking at its layout.
              .clear
            .ser-grid
              .ser-grid-list
                a( )
                  img(src='images/icon4.png', alt='')
                h5
                  a( ) 100% look book
                p.para
                  | It is a long established fact that a reader will be distracted by the page when looking at its layout.
              .ser-grid-list
                a( )
                  img(src='images/icon5.png', alt='')
                h5
                  a( ) authentic products
                p.para
                  | The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.
              .ser-grid-list
                a( )
                  img(src='images/icon6.png', alt='')
                h5
                  a( ) 100% guarantee
                p.para
                  | It is a long established fact that a reader will be distracted by the page when looking at its layout.
              .clear
