doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='stylesheets/bootstrap.min.js')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/javascript.js')
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
    link(rel='stylesheet', href='stylesheets/bootstrap-theme.min.css')
  body
    div#website
      div#topwebsite
        div.content-topwebsite
          div(data-toggle="tooltip" data-placement="bottom" title="Tam").content-topwebsite
            img(src="../images/clock.png")
            h3 THỜI GIAN
            p 08:30 sáng - 10:00 tối
        div(data-toggle="tooltip" data-placement="bottom" title="Get update on what {{mydata.name}} is sharing public").content-topwebsite.boxed-content.left-aligned
          img(src="../images/car.png")
          h3 GIAO HÀNG TOÀN QUỐC
          p Miễn phí khi mua nhiều
        div.content-topwebsite
          img(src="../images/phone.png")
          h3 ĐẶT HÀNG NHANH
          p (08) 7307 1441
        div.content-topwebsite
          h3 BẢO HÀNH 365 NGÀY
          p Đổi trả trong 7 ngày
      div#searchwebsite
          a
            img(src="../images/logo.png")
          div#search
            div.container
              div.row
                div.custom-search-input
                  div.input-group.col-md-5
                    input(type="text" placeholder="Search").search-query.form-control
                    span.input-group-btn
                      button(type="button").btn.btn-info
                        span.glyphicon.glyphicon-search
          div#cart
            a.btn.btn-info.btn-lg Shopping Cart
              span.glyphicon.glyphicon-shopping-cart
      div#menuwebsite
        nav.navbar.navbar-inverse
          div.navbar-header
            button(type="button" data-toggle="collapse" data-target="#menu").navbar-toggle
              span.sr-only Menu
              span.icon-bar
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a(href="#").navbar-brand Menu
          div#menu.navbar-collapse.collapse
            ul.nav.navbar-nav
              li
                a(href="#") Trang chủ
              li
                a(href="#") Trang chủ

              li
                a(href="#") Trang chủ
    block content
