doctype html
html
  head
    title= title
    meta(name='viewport' content='idth=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='stylesheets/bootstrap.min.js')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' rel='stylesheet')
    link(rel='stylesheet', href='stylesheets/font-awesome.min.css')
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/javascript.js')
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
    link(rel='stylesheet', href='stylesheets/bootstrap-theme.min.css')
  body
    div#website
      div#topwebsite
        div.content-topwebsite
          div(data-toggle="tooltip" data-placement="bottom" title="Tam").content-topwebsite
            img(src="../images/clock.png")
            h3 THỜI GIAN
            p 08:30 sáng - 10:00 tối
        div(data-toggle="tooltip" data-placement="bottom" title="Get update on what {{mydata.name}} is sharing public").content-topwebsite.boxed-content.left-aligned
          img(src="../images/car.png")
          h3 GIAO HÀNG TOÀN QUỐC
          p Miễn phí khi mua nhiều
        div.content-topwebsite
          img(src="../images/phone.png")
          h3 ĐẶT HÀNG NHANH
          p (08) 7307 1441
        div.content-topwebsite
          h3 BẢO HÀNH 365 NGÀY
          p Đổi trả trong 7 ngày
      div#searchwebsite
          a
            img(src="../images/logo.png")
          div#search
            div.container
              div.row
                div.custom-search-input
                  div.input-group.col-md-5
                    input(type="text" placeholder="Search").search-query.form-control
                    span.input-group-btn
                      button(type="button").btn.btn-info
                        span.glyphicon.glyphicon-search
          div#cart
            a.btn.btn-info.btn-lg Shopping Cart
              span.glyphicon.glyphicon-shopping-cart
      div#menuwebsite
        nav.navbar.navbar-inverse
          div.navbar-header
            button(type="button" data-toggle="collapse" data-target="#menu").navbar-toggle
              span.sr-only Menu
              span.icon-bar
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a(href="#").navbar-brand Menu
          div#menu.navbar-collapse.collapse
            ul.nav.navbar-nav
              li
                a(href="#") Trang chủ
              li
                a(href="#") Trang chủ

              li
                a(href="#") Trang chủ
      div#message
        div.container
          div.col-md-5.col-lg-4
            div.panel
              div.panel-heading
                div.panel-control
                  div.btn-group
                    button(type="button" data-toggle="collapse" data-target="#demo-chat-body").btn.btn-default.collapsed
                      i.fa.fa-chevron-down
                h3.panel-title Hỗ trợ trực tuyến
              div#demo-chat-body.collapse.in
                div(style="height:380px").nano.has-scrollbar
                  div(tabindex="0" style="right: -17px;").nano-content.pad-all
                    ul.list-unstyled.media-block
                      li.mar-btm
                        div.media-left
                          img(src="http://bootdey.com/img/Content/avatar/avatar1.png" class="img-circle img-sm" alt="Profile Picture")
                        div.media-body.pad-hor
                          div.speech
                            a(href="#").media-heading
                            p Hello Lucy, how can I help you today
                            p.speech-time
                              ifa.fa-clock-o.fa-fw 09:23AM
                  div.nano-pane
                    div(style="height: 141px; transform: translate(0px, 0px);").nano-slider
                div.panel-footer
                  div.row
                    div.col-xs-9
                      input(type="text" placeholder="Enter your text").form-control.chat-input
                    div.col-xs-3
                      button(type="submit").btn.btn-primary.btn-block Send


    block content
